:root {
    --background: #0F0D13;
    --background-player: #2A2141;
    --text-color: #e1e1e6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text-color);

    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
  
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background: transparent;

    border: none;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    opacity: .6;
}

.hide {
    display: none;
}

.player {
    background: var(--background-player);
    
    padding: 1.6rem;
    margin: 0 auto;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_player {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.header_player img {
  width: 6rem;
  height: 6rem;
}

.header_player h1 {
    margin-bottom: 0.96rem;

    font-size: 1.9rem;
    line-height: 100%;
}

.header_player p {
    font-size: 1.2rem;
    opacity: .6;
    line-height: 100%;
}

.buttons_player {
    margin: 1rem 0 0;

    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.progress {
    display: none;
}

.progress input {
    margin-top: 1rem;
    margin-bottom: .7rem;
}

#progress-bg {
    width: 19rem;

    height: 0.6rem;
    border-radius: 0.96rem;
  
    background-color: rgba(217, 217, 217, 0.3);

    position: relative;
    top: 1.6rem;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
  
    width: 19rem;
  
    background: transparent;
    cursor: pointer;
}
  
input[type="range"]::-webkit-slider-runnable-track {
    height: 0.6rem;
    border-radius: 0.96rem;
  
    background-color: rgba(217, 217, 217, 0.3);
  
    position: relative;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    
    height: 0.6rem;
    border-radius: 0.96rem;
  
    background-color: #d9d9d9;
    opacity: 0.8;
}
  
.time {
    display: flex;
    justify-content: space-between;
}

.time p {
    font-size: .96rem;
    opacity: .6;
}

@media (min-width: 700px) {
    .progress {
        display: inline;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .header_player {
        flex-direction: column;
        align-items: flex-start;
    
        gap: .5rem;
    }

    .header_player img {
        width: 13.2rem;
        height: 13.2rem;

        margin-bottom: .7rem;
    }

    .header_player h1 {
        margin-bottom: 0.5rem;

        text-align: flex-start;
    
        font-size: 1.8rem;
        line-height: 100%;
    }
    
    .header_player p {
        margin-bottom: 0.3rem;

        font-size: 1.2rem;
        opacity: .6;
        line-height: 100%;
    }

    .buttons_player {
        margin: 1rem 0 0;
    
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        padding: 0 .2rem;
    }

    .progress {
        display: flex;
        flex-direction: column;
    
        width: 13.2rem;
    }
    
    #progress-bg, input[type="range"] {
        width: 13.2rem;
        /* background-color: rgba(217, 217, 217, 0.3); */
    }
}